body{
    margin: 0px;
    padding: 0px;
}
.deuxblocs{
    display: flex;
}
.menu{
    width: 20%;
    height: 65rem;
    background-color: #4792BE;
    
}
/*--------------------------logo--------------------------*/

.Logo{
    justify-content: center;
    display: flex; 
    align-items: center;
}
.Logo img{

    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
/*--------------------------bloc menu----------------------*/

.blocmenu{
margin-left:3rem ;
color: white;
margin-top: 8rem;
}
.blocmenu img{
width: 2rem;
height: 2rem;
margin-top: 10px;
}
.blocmenu div{
    margin-top: 3rem;
    display: flex;
    margin-right: 2rem;
}
.blocmenu div:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 16rem;
}
.blocmenu div h2{
    margin-left: 1.5rem;
}
.cardreblanc{
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 16rem;
}
/*--------------------------partie blanche-----------------------------*/
.grandblocblanc{
    width: 80%;
    display: block;
}

/*-----------------------------header----------------------------------*/
.header{
    width: 100%;
    height: 6rem;
    background-color: #f9ecce;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barrederecherche{
    width: 40rem;  
    position: relative;
}
.header input{
    width: 28rem;
    height: 3rem;
    border-radius: 30px;
    background-color: white;
    border: 1px solid white;
    margin-left: 5rem;
    box-shadow: 2px 2px 1px 1px gray;
   
}
.grandblocblanc .recherche{
    width: 2rem;
    height: 2rem;
    padding-left: 7rem;
    position: absolute;
    margin-top: 0.7rem;
   
}
.grandblocblanc .notification{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 38rem;
}
.grandblocblanc .paramètre{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 4rem;
}
/*----------------------------formulaire de paiement-------------------------------*/
.tabform{
    display: flex;
    width: 75rem;
    height: 22rem;
    justify-content: space-around;
    text-align: center;
    margin-left: 14rem;
    margin-top: 1rem;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 2rem;
}
form{
    align-items: center;
    text-align: center;
    
}
.inp1{
    width: 60rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
   
}
.inp1 input{
    width: 20rem;
    height: 2.5rem;
    background-color: #FCF5E5;
    border: 1px solid #FCF5E5;
    border-radius: 1rem;
   
}
.inp2{
    width: 60rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.inp2 input{
    width: 20rem;
    height: 2.5rem;
    background-color: #FCF5E5;
    border: 1px solid #FCF5E5;
    border-radius: 1rem;
}
.btnvert{
    width: 12rem;
    height: 3rem;
    margin-top: 4rem;
    background-color: #549D64;
    border: 1px solid #549D64 ;
    color: white;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px  gray;
}
.btnvert:hover{
    background-color: white;
    color: #549D64;
}
.btnrouge{
    width: 12rem;
    height: 3rem;
    background-color: #B73224;
    border: 1px solid #B73224;
    color: white;
    border-radius: 2rem;
    margin-left: 3rem;
    box-shadow:  2px 2px 2px  gray
}
.btnrouge:hover{
    background-color: white;
    color: #B73224;
}
/*---------------------------tableau------------------------------*/
.assign{
    margin-top: 4rem;
    margin-left: 5.3rem;
}

table { 
    margin-top: 4rem; 
    margin-left: 3rem;
    width: 90rem;
    border-radius: 50px;
}
 
  td {
    background-color:#FCF5E5;
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;
}

  .td, img{ 
    width: 4rem;
    height: 4rem;
    border-radius: 30px;  
}     
  tr{
    margin-bottom: 3rem;
    background-color: #FCF5E5;
}
.iconmod{
    width: 2rem;
    height: 2rem;
}
.iconsup{
    width: 2rem;
    height: 2rem;
}




/*-------------------------------responsivite------------------------------------*/

@media (max-width:1760px){
    .grandblocblanc{
        width: 100%;
    } 
    .Logo{
        justify-content: center;
        display: flex; 
        align-items: center;
    }
    .Logo img{
        width: 8rem;
        height: 8rem;
        margin-top: 3rem;
    }
    .blocmenu{
        margin-left:3rem ;
        margin-top: 5rem;
        }
    .blocmenu img{
        width: 2rem;
        height: 2rem;
        margin-top: 4px;
        }
    .blocmenu div{
        margin-top: 3rem;
        display: flex;
        margin-right: 2rem;
            }
    .blocmenu div:hover{
        width: 16rem;
         }
    .blocmenu div h2{
        font-size: 1rem;
         }
        
    .cardreblanc{
        width: 11rem;
         }
    .tabform{
        width: 70rem;
        height: 22rem;
        margin-left: 10rem;
        margin-top: 1rem;
            
    }
    .assign{
        margin-top: 3rem;
        margin-left: 5.2rem;
        }
        
    .entetetab{
        width: 80rem;
        margin-left: 4rem;
        }
    .lignetab{
        margin-top: 1rem;
        width: 80rem;
        height: 3.5rem;
        margin-left: 4rem;
        border-radius: 2rem;
        background-color: #FCF5E5;
        }

    .grandblocblanc .notification{
        width: 2rem;
        height: 2rem;
        margin-left: 26rem;
        }
    .grandblocblanc .paramètre{
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 4rem;
        }
    }
@media (max-width:1401px){
    .blocmenu img{
        width: 2rem;
        height: 2rem;
        margin-top: 4px;
        margin-left: 1rem;
        }
    .grandblocblanc{
        width: 100%;
    } 
    .tabform{
        display: flex;
        width: 65rem;  
        margin-left: 7rem; 
    }
    .entetetab{
        width: 75rem;
        }
    .lignetab{
        margin-top: 1rem;
        width: 75rem;
        height: 3.5rem;
        }

    .grandblocblanc .notification{
        width: 2rem;
        height: 2rem;
        margin-left: 20rem;
        }
    .grandblocblanc .paramètre{
        width: 2rem;
        height: 2rem;
        }

}
@media (max-width:1374px){

    .blocmenu img{
        width: 2rem;
        height: 2rem;
        margin-top: 4px;
        margin-left: 1rem;
        }
    .grandblocblanc{
        width: 100%;
    } 
    .tabform{
        display: flex;
        width: 65rem;   
    }
    .assign{
        margin-top: 3rem;
        margin-left: 5.2rem;
        }
        
    .entetetab{
        width: 70rem;
        margin-left: 4rem;
        }
    .lignetab{
        margin-top: 1rem;
        width: 70rem;
        height: 3.5rem;
        margin-left: 4rem;
        }

}
@media (max-width:1186px){
    .grandblocblanc .notification{
        margin-left: 16rem;
        }
    .grandblocblanc{
        width: 100%;
    } 
    .Logo img{
        width: 6rem;
        height: 6rem;
        margin-top: 2rem;
     }
     .blocmenu div:hover{
        width: 10rem;
    }
    .cardreblanc{
        width: 10rem;
     }
     .blocmenu img{
        width: 2rem;
        height: 2rem;
        margin-top: 4px;
        margin-left: 1rem;
        }
     .blocmenu div h2{
        font-size: 0.8rem;
    }
    .tabform{
        width: 60rem;   
    }
    form{
        align-items: center;
        text-align: center;
        
    }
    .inp1{
        width: 55rem;
        margin-top: 3rem;
       
    }
    .inp1 input{
        width: 20rem;
        height: 2.5rem;
       
    }
    .inp2{
        width: 55rem;
        margin-top: 2rem;
    }
    .inp2 input{
        width: 20rem;
        height: 2.5rem;
    }
    .btnvert{
        width: 10rem;
        height: 3rem;
        margin-top: 4rem;
    }

    .btnrouge{
        width: 10rem;
        height: 3rem;
    
    }
    .btnrouge:hover{
        background-color: white;
        color: #B73224;
    }

    .assign{
        margin-top: 3rem;
        margin-left: 5.2rem;
        }
        
    .entetetab{
        width: 65rem;
        margin-left: 4rem;
        }
    .lignetab{
        margin-top: 1rem;
        width: 65rem;
        height: 3.5rem;
        margin-left: 4rem;
        }

}

@media (max-width:1140px){
    .blocmenu img{
        width: 2rem;
        height: 2rem;
        margin-top: 4px;
        margin-left: 1rem;
        }
    .grandblocblanc{
        width: 100%;
    } 
    .grandblocblanc .notification{
        margin-left: 16rem;
    }
    .grandblocblanc .paramètre{
        width: 2rem;
        height: 2rem;
    }
    .Logo img{
        width: 6rem;
        height: 6rem;
        margin-top: 3rem;
     }
    .blocmenu{
        margin-left:3rem ;
        margin-top: 5rem;
    }
    .blocmenu img{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 3px;
        margin-left: 1rem;
    }
    .blocmenu div{
        margin-top: 3rem;
        display: flex;
        margin-right: 2rem;
    }
    .blocmenu div:hover{
        width: 10rem;
    }
    .blocmenu div h2{
        font-size: 0.8rem;
    }
            
    .cardreblanc{
        width: 10rem;
     }
}

@media (max-width:1120px){
    .grandblocblanc{
        width: 100%;
    } 
    .header{
        width: 100%;
    }
    .tabform{
        width: 55rem; 
        justify-content: space-around;  
    }
    form{
        align-items: center;
        text-align: center;
        
    }

    .inp1{
        width: 50rem;
        margin-top: 3rem;
       
    }
    .inp1 input{
        width: 15rem;
        height: 2.5rem;
       
    }
    .inp2{
        width: 50rem;
        margin-top: 2rem;
    }
    .inp2 input{
        width: 15rem;
        height: 2.5rem;
    }

}
@media (max-width:1105px){
    .grandblocblanc{
        width: 74rem;
    } 
    .header{
        width: 100%;
    }
    .tabform{
        width: 55rem; 
        justify-content: space-around;  
    }
    form{
        align-items: center;
        text-align: center;
        
    }

    .inp1{
        width: 50rem;
        margin-top: 3rem;
       
    }
    .inp1 input{
        width: 15rem;
        height: 2.5rem;
       
    }
    .inp2{
        width: 50rem;
        margin-top: 2rem;
    }
    .inp2 input{
        width: 15rem;
        height: 2.5rem;
    }
    .entetetab{
        width: 70rem;
        }
    .lignetab{
        width: 70rem;
        }

}
@media (max-width:1050px){
    .blocmenu div{
        margin-top: 3rem;
        margin-right: 2rem;
    }
    .blocmenu div:hover{
        width: 8rem;
    }
    .blocmenu div h2{
        font-size: 0.7rem;
    }
    .blocmenu img{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 6px;
        }
            
    .cardreblanc{
        width: 8rem;
     }

     .blocmenu{
        margin-left:2rem ;
        margin-top: 7rem;
    }

}

@media (max-width:360px){
    .grandblocblanc{
        width: 100%;
    } 
    .grandblocblanc .notification{
        margin-left: 10rem;
    }
    
    .entetetab{
        width: 60rem;
        margin-left: 3rem;
        }
    .lignetab{
        margin-top: 1rem;
        width: 60rem;
        height: 3.5rem;
        margin-left: 3rem;
    }
    .lignetab,p{
        font-size: 2px;
    }
}






