body{
    margin: 0px;
    padding: 0px;
}
.deuxblocs{
    display: flex;
}
.menu{
    width: 30rem;
    height: 100vh;
    background-color: #4792BE;
    
}
/*--------------------------logo--------------------------*/

.Logo{
    margin-left: 9rem;  
}
.Logo img{

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 3rem;
}
/*--------------------------bloc menu----------------------*/

.blocmenu{
margin-left:6rem ;
color: white;
margin-top: 10rem;
}
.blocmenu img{
width: 3rem;
height: 3rem;
margin-top: 14px;
}
.blocmenu div{
    margin-top: 3rem;
    display: flex;
    margin-right: 2rem;
}
.blocmenu div:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 18rem;
}
.blocmenu div h2{
    margin-left: 1.5rem;
}
.cardreblanc{
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 18rem;
}
/*--------------------------partie blanche-----------------------------*/
.grandblocblanc{
    display: block;
}
.grandblocblanc input{
    width: 28rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #c8e2ec;
    border: 1px solid black;
    margin-top: 4rem;
    margin-left: 40rem;
}

.grandblocblanc .recherche{
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -3rem;
    margin-top: 1rem;
    
   
}
.grandblocblanc .notification{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 15rem;
    margin-top: 2rem;
}
.grandblocblanc .parameÌ€tre{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem;
}

.listadmin{
    margin-top: 2rem;
    margin-left:2rem ;
}

.contenairtable{
    display: flex;
}

table { 
    margin-top: 4rem; 
    margin-left: 2rem;
    width: 80rem;
    border-radius: 50px;
}
td {
    padding: 10px;
    text-align: center;
   
}
  td {
    background-color:#FCF5E5;
    font-size: 1.4rem;
}

  .td, img{ 
    width: 4rem;
    height: 4rem;
    border-radius: 30px;  
}     
  tr{
    margin-bottom: 1rem;
    background-color: #FCF5E5;
}
.iconmod{
    width: 2rem;
    height: 2rem;
}
.iconsup{
    width: 2rem;
    height: 2rem;
}