body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    background-color: #FCF5E5;
    background-image: url("images/Logo.png");
}
  .formu{
    display: flex;
    width: 50rem;
    height: 32rem;
    gap: 15px;
    flex-direction: column;
    background-color: white;
    margin-top: 12rem;
    margin-left: 38rem;
    border-radius: 20px;
    padding: 30px 20px;
    align-items: center;
    
  }
  
  .title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4px;
  }
  
  .sub {
    text-align: center;
    color: black;
    font-size: 14px;
    width: 80%;
  }
  
  .sub.mb {
    margin-bottom: 1px;
  }
  
  .sub a {
    color:#4792BE;
  }
  
  .avatar {
    height: 50px;
    width: 50px;
    background-color: #549D64;
    border-radius: 50%;
    align-self: center;
    padding: 6px;
    cursor: pointer;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .input, button {
    border: none;
    outline: none;
    width: 30rem;
    padding: 16px 10px;
    background-color:#FCF5E5;
    border-radius: 10px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
  }
  select{
    border: none;
    outline: none;
    width: 31rem;
    padding: 16px 10px;
    background-color:#FCF5E5;
    border-radius: 10px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
  }
  
  button {
    margin-top: 25px;
    background-color: #549D64;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 20rem;
    box-shadow: 2px 2px 1px 1px rgb(219, 216, 216);
  }
  
  .input:focus {
    border: 1px solid  #549D64;
    
  }
  
  #file {
    display: none;
  }
  

