body{
    margin: 0px;
    padding: 0px;
}
.deuxblocs{
    display: flex;
}
.menu{
    width: 30rem;
    height: 100vh;
    background-color: #4792BE;
    
}
/*--------------------------logo--------------------------*/

.Logo{
    margin-left: 9rem;  
}
.Logo img{

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 3rem;
}
/*--------------------------bloc menu----------------------*/

.blocmenu{
margin-left:6rem ;
color: white;
margin-top: 10rem;
}
.blocmenu img{
width: 3rem;
height: 3rem;
margin-top: 14px;
}
.blocmenu div{
    margin-top: 3rem;
    display: flex;
    margin-right: 2rem;
}
.blocmenu div:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 18rem;
}
.blocmenu div h2{
    margin-left: 1.5rem;
}
.cardreblanc{
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 18rem;
}

/*--------------------------partie blanche-----------------------------*/
.grandblocblanc input{
    width: 28rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #c8e2ec;
    border: 1px solid black;
    margin-top: 4rem;
    margin-left: 40rem;
}

.grandblocblanc .recherche{
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -3rem;
    margin-top: 1rem;
    
   
}
.grandblocblanc .notification{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 15rem;
    margin-top: 2rem;
}
.grandblocblanc .paramètre{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem;
}
.admin{
display: flex;
margin-left: 3rem;
}
.admin img{
    width: 7rem;
    height: 7rem;
    border-radius: 60px;
}
.ecriture{
    text-align: center;
    margin-left: 15px;
}
.ecriture h3{
    margin-top: -7px;
}
/*-------------------contenair vert--------------------------*/
.contenairevert{
    display: flex;
    justify-content: space-around;
    margin-left: 10rem;
    margin-top: 3rem
}
.contenairevert div{
   
    width: 22rem;
    height: 14rem;
    background-color: #328454;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.contenairevert div img{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}

.listadmin{
    margin-top: 40px;
    margin-left:2rem ;
}

.contenairtable{
    display: flex;
}

table {
    
    border-radius: 10px; 
    margin-top: 4rem; 
    margin-left: 2rem;
    width: 60rem;
}
  th, td {
    padding: 10px;
    text-align: center;
}
  td {
    background-color:#FCF5E5;
    font-size: 1.4rem;
}

  .td, img{ 
    width: 4rem;
    height: 4rem;
    border-radius: 30px;  
}     
  tr{
    margin-bottom: 1rem;
    background-color: #FCF5E5;
}
.listebouton{
    display: block;  
    margin-top: 15rem; 
    margin-left: 3rem;
}
.listebout button{
    display: block;
    margin-left: 1rem;
    margin-bottom: 5rem;
}
.boutonvert{
    width: 8rem;
    height: 3rem;
    background-color: #328454;
    border: 1px solid #328454;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
    text-align: center;
   
}
.boutonvert:hover{
    background-color: white;
    border:  1px solid #328454;
    color: #328454;
}
.boutonjaune{
    width: 8rem;
    height: 3rem;
    background-color: #FDC127;
    border: 1px solid #FDC127;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
    text-align: center;
    
}
.boutonjaune:hover{
    background-color: white;
    border: 1px solid #FDC127;
    color: #FDC127;
}
.boutonrouge{
    width: 8rem;
    height: 3rem;
    background-color: #B73224;
    border: 1px solid #B73224;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
    text-align: center;
   
}
.boutonrouge:hover{
    background-color: white;
    border: 1px solid #B73224;
    color:#B73224;
}
  